
.site {
	height: 54px;
	line-height: 54px;
	font-size: 14px;
	border-bottom: 1px dotted #cdcdcd;
	text-align: right;
	margin-bottom: 44px;
}
.site a {
	padding: 0px 2px;
	display: inline-block;
	zoom: 1;
	color: #9e9e9e;
}
.site span {
	padding: 0px 2px;
	color: #3d3d3d;
}
.footer {
	margin-top: 66px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.number {
	font-family: Arial
}
.aid_home_wrap {
	border-top: 1px dotted #cdcdcd;
	border-bottom: 1px dotted #cdcdcd;
	margin-bottom: 2px;
	padding: 50px 0;
}
.aid_home_wrap:first-child {
	border-top: 0;
	padding-top: 0;
}
.aid_home_wrap:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}
.aid_home_wrap h4 {
	color: #2b2b2b;
	font-weight: normal;
}
.aid_home_box_l {
	float: left;
}
.aid_home_box_l img {
	border: 1px solid #dddddd;
	width: 100%;
	box-sizing: border-box;
}
.aid_home_box_r {
	float: left;
}
.aid_home_box_r li {
	float: left;
	box-sizing: border-box;
}
.aid_home_box_r li img {
	border: 1px solid #dddddd;
	box-sizing: border-box;
	width: 100%;
}
.aid_home_box_r li:nth-child(5), .aid_home_box_r li:nth-child(6), .aid_home_box_r li:nth-child(7), .aid_home_box_r li:nth-child(8) {
	margin-bottom: 0;
}
.banner_inner {
	height: 263px;
	position: relative;
	overflow: hidden;
}
.banner_inner img {
	height: 263px;
	width: auto;
}
.banner_inner_txt {
	position: absolute;
	top: 50%;
}
.banner_inner_txt h4 {
	color: #fff;
	position: relative;
}
.banner_inner_txt em {
	position: absolute;
	bottom: 0;
	display: block;
	left: 0;
	background: #fff;
}
/*��������-����ͨ��*/
.news_index_l {
	float: left;
}
.news_index_l .public_list_img {
	margin-bottom: 14px;
}
.news_index_r {
	float: left;
	position: relative;
	left: 1px;
	margin-left: -1px;
}
.public_list4 ul {
	border-bottom: 1px solid #858585;
}
/*public_list*/
.public_list {
	width: 100%;
}
.public_list ul li {
	float: left;
	position: relative;
+margin-left:-1px;
+left:1px;
}
.public_list ul li .public_list_wrap, .public_list ul li .public_list_wrap .public_list_img {
	position: relative;
}
.public_list ul li .public_list_wrap .public_list_img > a, .public_list ul li .public_list_wrap .public_list_img > a img, .public_list ul li .public_list_wrap .public_list_img > img {
	width: 100%;
	height: 100%;
	display: block;
}
.news_index_r_t {
	border: 8px solid #dddddd;
	box-sizing: border-box;
	margin-bottom: 36px;
}
.news_index_r_t ul {
	margin: 12px 32px;
}
.news_index_r_t ul li {
	border-bottom: 1px solid #cecece;
	background: url(../images/icon_1.gif) no-repeat right center;
}
.news_index_r_t ul li:last-child {
	border: 0;
}
.news_index_r_t ul li a {
	color: #616161;
	line-height: 2.8em;
}
.news_index_r_t ul li.active a {
	color: #005BAC;
}
.news_index_r_b {
	position: relative;
}
.news_index_r_b > img {
	width: 100%;
	height: 100%;
}
.news_index_r_b_cover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	top: 0;
	background: url(../images/rb_cover.png) no-repeat center;
	background-size: 100% 100%;
}
.news_index_r_b_cover_box {
	margin: 0 42px;
	padding-top: 40px;
}
.news_index_r_b_cover_box h4 {
	color: #fff;
	font-weight: normal;
	line-height: 1.1em;
	padding-bottom: 32px;
	border-bottom: 1px solid #fff;
	margin-bottom: 14px;
	font-weight: bold;
}
.news_index_r_b_cover_box .news_index_r_b_txt {
	padding-bottom: 18px;
	border-bottom: 1px solid #fff;
	height: 86px;
	overflow: hidden;
}
.news_index_r_b_cover_box .news_index_r_b_txt h5 {
	line-height: 2em;
	color: #fff;
	margin-bottom: 2px;
}
.news_index_r_b_cover_box .news_index_r_b_txt li {
	line-height: 1.7em;
	color: #fff;
	word-break: break-all;
	font-size: 12px;
}
.news_index_r_b_cover_box .news_index_r_b_txt li a {
	color: #fff;
}
.news_index_l {
	width: 67%;
	margin-right: 5%;
}
.news_index_r {
	width: 28%;
}
.public_list4 ul {
	margin: 0 -22px;
}
.public_list4 ul li {
	width: 50%;
	margin-bottom: 50px;
}
.public_list4 ul li .public_list_wrap {
	margin: 0 22px;
	padding: 0;
}
.public_list4 ul li .public_list_wrap dl dt a {
	color: #000;
	line-height: 1.2em;
	max-width: 92%;
	display: block;
}
.public_list4 ul li .public_list_wrap dl dd {
	font-size: 12px;
	line-height: 2.6em;
	color: #a0a0a0;
}
.public_list4 ul li:nth-child(2n+1) {
	clear: both;
}
/*��Ӧֵ*/
.site {
	height: 54px;
	line-height: 54px;
}
.aid_home_wrap h4 {
	margin-bottom: 30px;
}
.aid_home_box_l {
	width: 33%;
}
.aid_home_box_r {
	width: 67%;
}
.aid_home_box_r li {
	width: 25%;
	padding-left: 12px;
	margin-bottom: 11px;
}
.banner_inner_txt {
	height: 52px;
	margin-top: -26px;
}
.banner_inner_txt h4 {
	height: 52px;
}
.banner_inner_txt em {
	width: 74px;
	height: 4px;
}
.dev_index_l_wrap {
	width: 214px;
}
.dev_index_l_wrap ul {
	width: 24px;
	float: right;
	position: relative;
	margin-top: -2px;
}
.dev_index_l_wrap li {
	width: 18px;
	height: 89px;
	line-height: 89px;
	text-align: center;
	background: url(../images/dev_br.jpg) no-repeat right center;
	background-size: auto 100%;
	margin-top: -1px;
	margin-right: 5px;
}
.dev_index_l_wrap li span {
	position: relative;
	padding-right: 30px;
	color: #5e5e5e;
	font-family: Arial;
	float: right;
	right: -5px;
	margin-top: -1px;
	cursor: pointer;
}
.dev_index_l_wrap li.active span {
	font-size: 72px;
	color: #005bac;
	font-weight: bold;
	background: url(../images/dev_cir.jpg) no-repeat right center;
}
.dev_index_l_box {
	overflow: hidden;
	width: 214px;
	position: relative;
	margin-bottom: 15px;
	height: 717px;
}
.dev_index_l_top {
	display: block;
	width: 16px;
	height: 10px;
	background: url(../images/dev_top.jpg) no-repeat;
	margin-bottom: 15px;
	position: relative;
	float: right;
	right: -2px;
}
.dev_index_l_bottom {
	display: block;
	width: 16px;
	height: 10px;
	background: url(../images/dev_bottom_act.jpg) no-repeat;
	margin-bottom: 15px;
	position: relative;
	float: right;
	right: -2px;
}
.dev_index {
	position: relative;
	overflow: hidden;
}
.dev_index_l {
	width: 214px;
	position: absolute;
	left: 0;
	top: 0;
}
.dev_index_r {
	width: 920px;
	float: left;
	padding-left: 214px;
	margin-left: 146px;
}
.dev_index_r .dev_index_r_part > h4 {
	color: #d2d2d2;
	border-top: 5px solid #d2d2d2;
}
.dev_index_r ul {
	position: relative;
	margin-bottom: 40px;
}
.dev_index_r li {
	width: 49.6%;
	margin-bottom: 22px;
}
.dev_index_r li .year_wrap {
	width: 95%;
	border: 1px solid #dddddd;
}
.dev_index_r li.odd .year_wrap {
	float: right;
}
.dev_index_r li .year_wrap img {
	width: 100%;
}
.year_box {
	padding: 30px;
	position: relative;
	z-index: 20;
	background: #fff;
}
.year_box h4 {
	color: #2b2b2b;
	margin-bottom: 6px;
}
.year_box p {
	color: #616161;
	font-size: 14px;
	line-height: 1.7em;
}
.dev_index_l {
	position: fixed;
	z-index: 220;
	opacity: 0;
}
#swiper-container2 {
	display: none;
}
 @media only screen and (max-width: 1700px) {
}
 @media only screen and (max-width: 1520px) {
.site {
	height: 44px;
	line-height: 44px;
	margin-bottom: 35px;
}
.footer {
	margin-top: 60px;
}
/*aid_home*/
.aid_home_wrap h4 {
	margin-bottom: 24px;
}
.aid_home_box_r li {
	padding-left: 10px;
	margin-bottom: 9px;
}
/*banner*/
.banner_inner_txt {
	height: 42px;
	margin-top: -21px;
}
.banner_inner_txt h4 {
	height: 42px;
}
.banner_inner_txt em {
	width: 60px;
}
.banner_inner {
	height: 220px;
}
.banner_inner img {
	height: 220px;
	width: auto;
}
/*news_index*/
.public_list4 ul {
	margin: 0 -17px;
}
.public_list4 ul li {
	margin-bottom: 40px;
}
.public_list4 ul li .public_list_wrap {
	margin: 0 17px;
}
.news_index_r_t ul {
	margin: 10px 26px;
}
.news_index_r_b_cover_box {
	margin: 0 34px;
}
.news_index_r_b_cover_box h4 {
	padding-bottom: 22px;
	margin-bottom: 10px;
}
.news_index_r_b_cover_box .news_index_r_b_txt {
	padding-bottom: 14px;
}
.news_index_r_t {
	margin-bottom: 28px;
}
/*about_dev*/
.dev_index_r {
	width: 820px;
	margin-left: 126px;
	padding-left: 200px;
}
.year_box {
	padding: 20px;
}
.dev_index_l_wrap li.active span {
	font-size: 38px;
	background-size: 8px 8px;
}
.dev_index_l_wrap li span {
	right: -4px;
}
.dev_index_l_wrap li {
	background-size: auto 100%;
}
.dev_index_l_wrap li {
	height: 56px;
	line-height: 56px;
}
.dev_index_l_box {
	height: 436px;
}
.dev_index_r ul {
	margin-bottom: 30px;
}
.news_index_l .public_list_img {
	margin-bottom: 10px;
}
}
 @media only screen and (max-width: 1300px) {
.site {
	height: 38px;
	line-height: 38px;
	margin-bottom: 30px
}
.footer {
	margin-top: 55px;
}
/*aid_home*/
.aid_home_wrap h4 {
	margin-bottom: 20px;
}
.aid_home_box_r li {
	padding-left: 9px;
	margin-bottom: 8px;
}
/*banner*/
.banner_inner_txt {
	height: 36px;
	margin-top: -18px;
}
.banner_inner_txt h4 {
	height: 36px;
}
.banner_inner_txt em {
	width: 52px;
}
.banner_inner {
	height: 200px;
}
.banner_inner img {
	height: 200px;
	width: auto;
}
/*news_index*/
.public_list4 ul {
	margin: 0 -14px;
}
.public_list4 ul li {
	margin-bottom: 34px;
}
.public_list4 ul li .public_list_wrap {
	margin: 0 14px;
}
.news_index_r_t ul {
	margin: 9px 24px;
}
.news_index_r_b_cover_box {
	margin: 0 32px;
}
.news_index_r_b_cover_box h4 {
	padding-bottom: 18px;
	margin-bottom: 8px;
}
.news_index_r_b_cover_box .news_index_r_b_txt {
	padding-bottom: 12px;
}
.news_index_r_t {
	margin-bottom: 24px;
}
.news_index_r_b_cover_box .news_index_r_b_txt {
	height: 80px;
}
/*about_dev*/
.year_box p {
	font-size: 12px;
}
.year_box {
	padding: 17px;
}
.dev_index_l_wrap li.active span {
	font-size: 48px;
}
.dev_index_r {
	margin-left: 106px;
	padding-left: 160px;
	width: 726px;
}
.dev_index_r ul {
	margin-bottom: 20px;
}
.news_index_l .public_list_img {
	margin-bottom: 6px;
}
}
 @media only screen and (max-width: 1140px) {
.site {
	height: 34px;
	line-height: 34px;
	margin-bottom: 25px
}
.footer {
	margin-top: 45px;
}
/*aid_home*/
.aid_home_wrap h4 {
	margin-bottom: 18px;
}
.aid_home_box_r li {
	padding-left: 9px;
	margin-bottom: 9px;
}
/*banner*/
.banner_inner_txt {
	height: 32px;
	margin-top: -16px;
}
.banner_inner_txt h4 {
	height: 32px;
}
.banner_inner_txt em {
	width: 48px;
}
.banner_inner {
	height: 180px;
}
.banner_inner img {
	height: 180px;
	width: auto;
}
/*news_index*/
.public_list4 ul {
	margin: 0 -12px;
}
.public_list4 ul li {
	margin-bottom: 28px;
}
.public_list4 ul li .public_list_wrap {
	margin: 0 12px;
}
.news_index_r_t ul {
	margin: 7px 20px;
}
.news_index_r_b_cover_box {
	margin: 0 28px;
}
.news_index_r_b_cover_box h4 {
	padding-bottom: 15px;
	margin-bottom: 6px;
}
.news_index_r_b_cover_box .news_index_r_b_txt {
	padding-bottom: 10px;
}
.news_index_r_t {
	margin-bottom: 20px;
}
.news_index_r_b_cover_box .news_index_r_b_txt {
	height: 78px;
}
}
 @media only screen and (max-width: 1023px) {
.site {
	margin-bottom: 20px
}
.footer {
	margin-top: 35px;
}
.news_index_r_b_cover_box {
	padding-top: 22px;
}
/*about_dev*/
.year_box {
	padding: 12px;
}
.dev_index_l_wrap li.active span {
	font-size: 38px;
}
.dev_index_l {
	width: 20%;
	display: none;
}
.dev_index_l_wrap, .dev_index_l_box {
	width: 100%;
}
.dev_index_r {
	margin-left: 0;
	padding-left: 26%;
	width: 74%;
}
.dev_index_r ul {
	margin-bottom: 10px;
}
.phone_dev.dev_index_l {
	position: relative;
	top: 0;
	width: 100%;
}
.phone_dev.dev_index_l .dev_index_l_top {
	width: 10px;
	height: 16px;
	background: url(../images/dev_left_act.jpg) no-repeat;
	margin-bottom: 0;
	position: absolute;
	float: none;
	right: auto;
	left: 10px;
	top: 50%;
	margin-top: -8px;
}
.phone_dev.dev_index_l .dev_index_l_bottom {
	width: 10px;
	height: 16px;
	background: url(../images/dev_right_act.jpg) no-repeat;
	margin-bottom: 0;
	position: absolute;
	float: none;
	right: 10px;
	top: 50%;
	margin-top: -8px;
}
.phone_dev.dev_index_l .dev_index_l_wrap {
	height: 60px;
	position: relative;
}
.phone_dev.dev_index_l .dev_index_l_box {
	height: 60px;
	margin-bottom: 0;
	width: 90%;
	padding: 0 10px;
	box-sizing: border-box;
}
.phone_dev.dev_index_l .dev_index_l_wrap ul {
	float: none;
	width: 100%;
	margin-top: 0;
}
.phone_dev.dev_index_l .dev_index_l_wrap li {
	line-height: 60px;
	height: 60px;
	width: 100px;
	background: none;
	float: left;
}
.phone_dev.dev_index_l .dev_index_l_wrap li span {
	padding: 0;
	background: none;
	right: auto;
	top: 0;
	float: none;
}
.phone_dev.dev_fixed {
	position: fixed;
	top: 60px;
	z-index: 200;
	background: #fff;
	border-bottom: 2px solid #005bac;
}
.dev_index_r {
	padding-left: 0;
	width: 100%;
	float: none;
	padding-left: 0;
}
.dev_index_r ul {
	margin: 0;
	width: 100%;
}
.dev_index_r li {
	width: 50%;
}
.dev_index_r li .year_wrap {
	margin: 0 5px;
	width: auto;
}
.dev_index_r li.odd .year_wrap {
	float: none;
}
#swiper-container2 {
	width: 100% !important;
	display: block;
}
#swiper-container2 .swiper-slide {
	text-align: center;
	line-height: 30px;
	height: 30px;
}
#swiper-container2 .swiper-slide.active-nav {
	color: #005bac;
	font-size: 18px;
}
}
 @media only screen and (max-width: 767px) {
.news_index_r {
	clear: both;
	padding-top: 20px;
	margin-bottom: 0;
}
.site {
	margin-bottom: 15px
}
.footer {
	margin-top: 25px;
}
/*aid_home*/
.aid_home_wrap h4 {
	margin-bottom: 10px;
}
.aid_home_box_l {
	width: 100%;
	margin-bottom: 10px;
}
.aid_home_box_r {
	width: 100%;
}
.aid_home_box_r ul {
	margin: 0 -4px;
}
.aid_home_box_r li {
	padding: 0 4px;
}
/*banner*/
.banner_inner {
	height: 140px;
}
.banner_inner img {
	height: 140px;
	width: auto;
}
/*news_index*/
.news_index_r {
	float: none;
	width: 100%;
	margin-bottom: 0;
}
.news_index_r_t {
	margin-bottom: 20px;
}
.news_index_r_b {
	height: 174px !important;
}
.news_index_l {
	width: 100%;
	margin: 0;
}
.public_list4 ul li {
	margin-bottom: 20px;
}
.public_list4 ul {
	margin: 0 -5px;
}
.public_list4 ul li .public_list_wrap {
	margin: 0 5px;
}
.page a {
	font-family: "\5FAE\8F6F\96C5\9ED1";
}
/*about_dev*/
.year_box {
	padding: 10px;
}
.dev_index_l_wrap li.active span {
	font-size: 20px;
}
.dev_index_l_wrap li {
	height: 50px;
	line-height: 50px;
}
.dev_index_l_box {
	height: 388px;
}
}
